body {
    background-color: #FED57B;
    background: url('images/background.jpg') no-repeat;
    background-size: cover;
    padding-top: 2em;
}

.container-fluid, .container {
    background-color: #eed;
}

.not-allowed {
    cursor: not-allowed !important;
}

#accordion .panel-heading {
    background: #ffa500;
}

.navbar-fixed-bottom {
    background: #FFDD86;
}

.vertical-align {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.selecteur {
    background: #FFDD86;
}

.echec {
    color: red;
    font-weight: bold;
}

.dymo {
    padding: 4px 1em !important;
}

.urgence0 {
    background-color: #9f9;
}

.urgence1 {
    background-color: #99f;
}

.urgence2 {
    background-color: #f99;
}

.anniversaire {
    color: red;
    font-size: 2em;
    list-style: none;
}

.navbar .fa {
    font-size: 1.4em
}

.listeAnnonces {
    box-shadow: 2px 2px 5px grey;
}

.listeAnnonces ul {
    padding-left: 0;
}

.listeAnnonces li {
    list-style-type: none;
    margin: 0.3em 0;
    padding: 0.1em 0;
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.lesAnnonces {
    border: 1px solid #555;
    padding: 0.5em 0.5em 1.5em;
    margin: 1em 0;
    box-shadow: 2px 2px 5px grey;
}

.lesAnnonces .contact {
    background-color: #ccc
}

.dateLecture {
    background-color: #FFA500;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px grey;
    -ms-transform: rotate(7deg);
    /* IE 9 */
    -webkit-transform: rotate(7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.help {
    background: #aaf;
    padding: 1em;
    border-radius: 5px;
}

.fa-info-circle {
    color: blue;
}

.parents {
    background: #ddf;
}

#detailsJour {
    padding: 1em;
}

#unTravail * {
    padding: 0 0.3em;
}

.encadre {
    border: 2px dotted grey;
    padding: 0 0.8em;
    box-shadow: #999 10px 15px 5px;
    min-height: 15em;
}

#calendar .fc-content {
    cursor: pointer;
}

body {
    background-color: #fed57b;
}

.container {
    background-color: #eeeedd;
}

.not-allowed {
    cursor: not-allowed !important;
}

#accordion .panel-heading {
    background: #ffa500 none repeat scroll 0 0;
}

.navbar-fixed-bottom {
    background: #ffdd86 none repeat scroll 0 0;
}

.vertical-align {
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.selecteur {
    background: #ffdd86 none repeat scroll 0 0;
}

.echec {
    color: red;
    font-weight: bold;
}

.dymo {
    padding: 4px 1em !important;
}

.urgence0 {
    background-color: #99ff99;
}

.urgence1 {
    background-color: #9999ff;
}

.urgence2 {
    background-color: #ff9999;
}

.anniversaire {
    color: red;
    font-size: 2em;
    list-style: outside none none;
}

.navbar .fa {
    font-size: 1.4em;
}

.listeAnnonces {
    box-shadow: 2px 2px 5px grey;
}

.listeAnnonces ul {
    padding-left: 0;
}

.listeAnnonces li {
    list-style-type: none;
    margin: 0.3em 0;
    padding: 0.1em 0;
    transform: rotate(-2deg);
}

.lesAnnonces {
    border: 1px solid #555555;
    box-shadow: 2px 2px 5px grey;
    margin: 1em 0;
    padding: 0.5em 0.5em 1.5em;
}

.lesAnnonces .contact {
    background-color: #cccccc;
}

.dateLecture {
    background-color: #ffa500;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    font-weight: bold;
    padding: 5px;
    transform: rotate(7deg);
}

.help {
    background: #aaaaff none repeat scroll 0 0;
    border-radius: 5px;
    padding: 1em;
}

.fa-info-circle {
    color: blue;
}

.parents {
    background: #ddddff none repeat scroll 0 0;
}

#detailsJour {
    padding: 1em;
}

#unTravail * {
    padding: 0 0.3em;
}

.encadre {
    border: 2px dotted grey;
    box-shadow: 10px 15px 5px #999999;
    min-height: 15em;
    padding: 0 0.8em;
}

#calendar .fc-content {
    cursor: pointer;
}

p.event-special, a.event-special {
    background: #ff0000 none repeat scroll 0px 0px;
}

p.event-success, a.event-success {
    background: #008000 none repeat scroll 0px 0px;
    color: white;
}

p.event-warning, a.event-warning {
    background: #ffa500 none repeat scroll 0px 0px;
}

p.event-info, a.event-info {
    background: #ffff00 none repeat scroll 0px 0px;
    color: red;
}

p.event-inverse, a.event-inverse {
    background: #286090 !important;
    color: #fff !important;
}

.fc-prev-button, .fc-next-button, .fc-today-button {
    background: #286090 !important;
    color: #fff !important;
}

.fa-select {
    font-family: 'FontAwesome', Arial;
}

.cat_1 {
    background: #f55 !important;
    color: #fff !important;
}

.cat_2 {
    background: #0f0 !important;
    color: #333 !important;
}

.cat_3 {
    background: #00f !important;
    color: #fff !important;
}

.cat_4 {
    background: #ff0 !important;
    color: #000 !important;
}

.cat_5 {
    background: #f00 !important;
    color: #ff0 !important;
}

.cat_6 {
    background: #555 !important;
    color: #ccc !important;
}

.cat_7 {
    background: #fff !important;
    color: #000 !important;
}

.indisponible {
    background-color: rgb(175, 175, 175)
}

.attente1 {
    background-color: rgb(242, 193, 239)
}

.attente2 {
    background-color: rgb(195, 230, 179)
}

.attente3 {
    background-color: rgb(174, 218, 224)
}

.panel-info>.panel-heading {
    background-color: #99f !important;
    border-color: #bce8f1;
    color: #333 !important;
}

.panel-success>.panel-heading {
    background-color: #9f9 !important;
    border-color: #bce8f1;
    color: #333 !important;
}

.panel-danger>.panel-heading {
    background-color: #f99 !important;
    border-color: #bce8f1;
    color: #333 !important;
}

.statutSpecial {
    background-color: #b0dce0;
}

.selected {
    background: orange;
}

.wait * {
    cursor: wait;
}

.casier {
    position: relative;
    margin: 0.5em;
    padding: 0;
    width: 240px;
    box-shadow: 1px 1px 12px #555;
    cursor: pointer;
}

.casier .corps {
    padding: 0;
    border: 1px solid #555;
    margin: 0;
    height: 125px;
    overflow: hidden;
}

.casier h4 {}

.casier p {
    margin: 0 5px;
}

.casier .bottom {
    position: absolute;
    border-left: 1px solid #555;
    bottom: 1px;
    padding: 0 2px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 240px;
}

.micro {
    font-size: 8pt;
}

.texte {
    background-color: #ffbbde;
    border: 1px solid #555;
    padding: 0.5em 1em;
    font-size: 16pt;
}

.readwrite {
    background-color: #cfc;
}

.readonly {
    background-color: #ccf;
}

.termine {
    background-color: #fcc;
}

.archive {
    background-color: #555;
    color: #fff;
}

.cote {
    font-size: 14pt;
}

.cours {
    background-color: #fcc !important;
}

.niveau {
    background-color: #cff;
}

.classes {
    background-color: #cfc !important;
}

.ecole {
    background-color: #ffc;
}

.notification {
    cursor: pointer;
}

tr.nonLu td{
    font-weight: bold;
    color: #55e;
}

.avertissement {
    padding-top: 1.5em;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #bbb;
}

.notice {
    background-color: #efe6c3;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 1px 1px 12px #555;
    margin: 1em;
    padding: 10px;
}

.notice:before {
    color: #2661D6;
    content: "\e086";
    font-family: "Glyphicons Halflings";
    font-size: 1.5em;
    padding: 0 5px;
    float:left;
}

.discret {
    font-size: 10pt;
    color: #555;
}

.error {
    color: #ff0000;
}

.badge.badge-danger {
    background: #ff0000;
    color: #ffffff;
}

.cert {
    background-color: #bfb;
}

.form {
    background-color: #ccd
}

/* corrections pour le mode "liste" de fullCalendar */
.fc-list-item:hover td {
  background-color: #ccc !important;
  color: #333;
}

.fc-list-item {
    cursor: pointer;
}

.demiavertissement {
    padding-top: 1.5em;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #bbb;
}

.bordure {
    border: 1px solid #999;
    padding: 0.5em;
    margin: 0.9em 0
}

.absent {
    background-color: #f55;
    color: white;
}

.present {
    background-color: #5f5;
    color: #333;
}

.indetermine {
    background-color: #bbb;
}

.niveau {
    background-color: #f9d6ea;
}
.ecole {
    background-color: #d1f6fc;
}
.classe {
    background-color: #caffb7;
}
.coursGrp {
    background-color: #ffeb9e;
}
.matiere {
    background-color: #fbffc1;
}

.file {
    border: 1px solid #88f;
    margin: 3px;
    background-color: #ff0;
}

.fc-event {
    cursor:pointer
}

.remediation {
    background-image: linear-gradient(45deg, #eebaf5 25%, #F6F0CF 25%, #F6F0CF 50%, #eebaf5 50%, #eebaf5 75%, #F6F0CF 75%, #F6F0CF 100%);
    background-size: 19.80px 19.80px;
    color: black !important;
}

.jdcPerso {
    background-image: linear-gradient(45deg, #c8e3c3 22.22%, #F6F0CF 22.22%, #F6F0CF 50%, #c8e3c3 50%, #c8e3c3 72.22%, #F6F0CF 72.22%, #F6F0CF 100%);
    background-size: 25.46px 25.46px;
    color: black !important;
}

.jdcShared {
    background-image: linear-gradient(45deg, #fcb6c3 25%, #9cd4f7 25%, #9cd4f7 50%, #fcb6c3 50%, #fcb6c3 75%, #9cd4f7 75%, #9cd4f7 100%);
    background-size: 19.80px 19.80px;
    color: black !important;
}

.coaching {
	background: turquoise !important;
	color: #111 !important;
}

.gras {
    font-weight: bold;
    color: blue;
}

/* Treeview */

div.panel:first-child {
    margin-top:20px;
}

div.treeview, div.treeviewPost {
    min-width: 100px;
    min-height: 100px;
    max-height: 256px;
    overflow:auto;
    padding: 4px;
    margin-bottom: 20px;
    color: #369;
    border: solid 1px;
    border-radius: 4px;
}

div.treeview ul:first-child:before, .treeviewPost ul:first-children:before {
    display: none;
}

.treeview, .treeview ul, .treeviewPost, .treeviewPost ul {
    margin:0;
    padding:0;
    list-style:none;
    color: #369;
}
.treeview ul, .treeviewPost {
    margin-left:1em;
    position:relative
}

.treeview ul ul, .treeviewPost ul ul {
    margin-left:.5em
}

.treeview ul:before, .treeviewPost ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}

.treeview li, .treeviewPost li {
    margin:0;
    padding:0 0 0 1em;
    line-height:2em;
    position:relative;
}

.treeview ul li:before, .treeviewPost ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}

.tree-indicator {
    margin-right:5px;
    cursor:pointer;
}

.treeview li a , .treeviewPost li a {
    text-decoration: underline;
    color:inherit;
    font-weight: bold !important;
    cursor:pointer;
}

.treeview li a.active, .treeviewPost li a.active {
    background-color: #f4d186;
    color: black;
    padding: 0 1em 0 0;
}

.repondre {
    background-color: #aacfff;
}

.postForum {
    border: 1px solid #333;
    padding: 0.5em;
}

.supprime {
	text-decoration: line-through;
	color: #999;
}

.postForum.active {
    background-color: #ee5;
    color: blue;
}

#listeSujets button.active{
    background: #f66;
    color: #222;
}

.fbLike {
    font-size: 10pt;
}

.toolip  {
    background-color: red;
}

.postForum.em8 {
    max-height:8em;
    overflow: auto;
}

.btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#modalLecture img {
    margin: 0.5em;
}
